@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Patent Web</h1>
    <h2>Patent Web es una aplicacón para registrar patentes</h2>
    <a><link onclick="#"/>Click para regr</a>
</div>

<div class="text-center">
    <ul class="">
        <li class="item">
            <a class="nav-link text-dark" asp-area="" asp-page="#">Registrar</a>
        </li>
        <li class="item">
            <a class="nav-link text-dark" asp-area="" asp-page="#">Borrar</a>
        </li>
        <li class="item">
            <a class="nav-link text-dark" asp-area="" asp-page="#">Editar</a>
        </li>
    </ul>
</div>
